* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

html {
  font-family: 'poppins', sans-serif;
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  background-color: #e5e5e5;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  min-width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-logo {
  display: flex;
  margin-right: 20px;
  margin-left: 15px;
  animation: rotate 2s ease;
}

.nav-logo a {
  font-size: 20px;
  color: #6070ff;
  font-weight: bold;
  padding: 15px 15px;
}

.nav-button {
  display: block;
  padding: 10px;
  padding-right: 20px;
  border: none;
  justify-content: center;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 12px;
  margin-right: 18px;
}

.nav-items {
  display: none;
}

.intro-section {
  background-image: url(./assets/images/header-shapes-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-bottom-left-radius: 80px;
  height: 630px;
  margin-top: 0;
  position: relative;
}

h1 {
  margin-top: 0;
  margin-left: 15px;
  padding: 10px;
  color: #172b4d;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  padding-top: 100px;
}

p {
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 24px;
  font-size: 17px;
  color: #344563;
}

h6 {
  padding: 5px;
  padding-left: 10px;
  margin-left: 15px;
  font-weight: 500;
  color: #7f8cff;
  font-size: 18px;
}

.social-icons {
  display: flex;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 20px;
}

li {
  padding-left: 10px;
  padding-right: 10px;
}

.work-samples {
  margin-left: 2px;
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.work-sample-1 {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: white;
  border-radius: 20px;
  height: 600px;
  width: 325px;
}

.desktop-1 {
  display: none;
}

.work-sample-2 {
  display: grid;
  align-items: center;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  height: 650px;
  width: 325px;
}

.desktop-2 {
  display: none;
}

.work-sample-3 {
  display: grid;
  align-items: center;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  height: 600px;
  width: 325px;
}

.desktop-3 {
  display: none;
}

.work-sample-4 {
  display: grid;
  align-items: center;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  height: 650px;
  width: 325px;
}

.desktop-4 {
  display: none;
}

.work-sample-1,
.work-sample-4 {
  padding: 15px;
  margin-left: 25px;
}

.work-sample-2,
.work-sample-3 {
  padding: 15px;
  margin-left: 25px;
}

.description-2,
.description-3,
.description-4 {
  display: none;
}

.description2,
.description4 {
  width: 90%;
}

.title {
  margin-top: 10px;
  font-size: 35px;
  color: #172b4d;
  font-weight: bold;
  line-height: 35px;
  width: 90%;
}

.title1 {
  display: none;
}

.details {
  display: flex;
  margin: 5px;
  width: 270px;
  width: 100%;
}

.details :not(:last-child)::after {
  font-size: 20px;
  content: '●';
  color: #c1c7d0;
  margin-left: 10px;
}

.details1 {
  display: none;
}

.name {
  padding-right: 12px;
  font-weight: 600;
  color: #172b4d;
  font-size: 14px;
}

.type {
  padding-right: 12px;
  font-weight: 600;
  color: #7a869a;
  font-size: 14px;
}

.year {
  padding-right: 12px;
  font-weight: 600;
  color: #7a869a;
  font-size: 14px;
  margin-top: 7px;
}

.description1,
.description2,
.description3,
.description4 {
  color: #344563;
  margin-right: 70px;
  margin-left: -3px;
  font-size: 15px;
  width: 90%;
}

.tools {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

.html {
  background-color: #ebebff;
  height: 24px;
  width: 60px;
  color: #6070ff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 1px;
}

.css {
  background-color: #ebebff;
  height: 24px;
  width: 50px;
  color: #6070ff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 12px;
  padding-top: 1px;
  margin-left: 10px;
}

.ruby {
  display: none;
}

.javascript {
  background-color: #ebebff;
  height: 24px;
  width: 100px;
  color: #6070ff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  padding-left: 12px;
  padding-top: 1px;
  margin-left: 5px;
}

.see-project1,
.see-project2,
.see-project3,
.see-project4 {
  height: 50px;
  width: 140px;
  color: #396df2;
  background-color: white;
  border-color: #396df2;
  border-radius: 8px;
  border: 1px solid;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.about-me {
  height: 1250px;
  margin-top: 120px;
  background-color: white;
  width: 100%;
  border-top-right-radius: 80px;
}

.get-resume {
  height: 50px;
  width: 160px;
  color: #396df2;
  background-color: white;
  border-color: #396df2;
  border-radius: 8px;
  border: 1px solid;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 25px;
}

.skills {
  margin-top: 20px;
}

.skills ul li {
  background: #f7f7f9;
  list-style-type: none;
  border-radius: 10px;
  margin: 12px 0;
  width: 90%;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.angle-icon {
  transform: rotate(-90deg);
  transition: all 1s ease-out;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.languages {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.languages p {
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin-bottom: 7px;
  padding-top: 25px;
  margin-left: -5px;
}

.languages .fa.fa-angle-down {
  margin-top: 8px;
  margin-right: 15px;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c1c7d0;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-top: -5px;
}

.frameworks p {
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin-top: 15px;
  padding-top: 15px;
  margin-left: -5px;
}

.frameworks .fa.fa-angle-right {
  margin-top: 20px;
  margin-right: 15px;
}

.non-tech-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c1c7d0;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-top: -5px;
}

.non-tech-skills p {
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  padding-top: 15px;
  margin-left: -10px;
}

.non-tech-skills .fa.fa-angle-right {
  margin-top: 25px;
  margin-right: 15px;
}

.core {
  margin-left: 25px;
  margin-top: 10px;
}

.core li:nth-child(1)::before {
  padding: 5px 10px;
  content: url(./assets/images/Javscript.png);
}

.core li:nth-child(2)::before {
  padding: 5px 10px;
  content: url(./assets/images/html.png);
}

.core li:nth-child(3)::before {
  padding: 5px 10px;
  content: url(./assets/images/css.png);
}

.contact {
  background-image: url(./assets/images/contact-form-shapes-mobile.png);
  background-color: #6070ff;
  background-size: 390px 750px;
  background-repeat: no-repeat;
  background-position: 100%;
  position: absolute;
  border-top-left-radius: 120px;
  margin-top: -110px;
  height: 800px;
  width: 100%;
}

.contact-form h2 {
  padding-top: 100px;
  padding-left: 80px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  line-height: 35px;
  margin-left: -10px;
  text-align: center;
  width: 100%;
}

.contact-form p {
  padding-top: 15px;
  color: white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

form {
  margin-top: 45px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#name {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  padding: 15px;
}

#email {
  width: 327px;
  height: 48px;
  border-radius: 8px;
  margin-top: 18px;
  border: none;
  font-size: 18px;
  padding: 15px;
}

#message {
  width: 327px;
  height: 180px;
  border-radius: 8px;
  margin-top: 18px;
  border: none;
  font-size: 18px;
  padding: 15px;
}

#btn-submit {
  height: 48px;
  width: 150px;
  border-radius: 8px;
  background-color: white;
  color: #6070ff;
  border: none;
  margin-left: 25px;
  margin-top: 18px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 200px;
}

#btn-submit:hover {
  background-color: #6070ff;
  color: white;
  box-shadow: 5px 5px 5px #172b4d;
}

#btn-submit:active {
  background-color: #2230d2;
  color: white;
}

#btn-submit:disabled {
  background-color: white;
  color: #5e6c84;
}
